<article class="type-system-sans">
  <h1> Write a New Post Here </h1>
  <h2> New Post </h2>

  <form action="/posts" method="post">
    <label for="post_title">Title:</label><br />
    <input id="post_title" name="post[title]" type="text" value="" />
    <br />

    <label for="post_body">Content:</label><br />
    <textarea id="post_body" name= "post[body]" rows="5">""</textarea>
    <br />

    <label for="post_body">Author:</label><br />
    <input id="post_author" name="post[author]" type="text" value="" />
    <br />

    <input type="submit" value="Create Post" />

  </form>
</article>
